<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>query</title>
    <link rel="stylesheet" type="text/css" href="/css/query.css" />
    <script src="/js/query.js"></script>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="/js/trans.js"></script>
</head>
<body>
    <h1 >学生查询</h1>
    年龄：<input type="text" id="sage" name = "sage">
    <button onclick="queryByAge()">query</button>

    <table id="tab" border="1">
        <tr>
            <td>Name</td>
            <td>Class</td>
            <td>Age</td>
            <td>Weight</td>
            <td>Height</td>
            <td></td>
        </tr>
    </table>

</body>

</html>